/* 
 * general
 */
body { position:relative; font-family: 'Segoe UI', 'Calibri', Helvetica, Arial, sans-serif; padding:0; margin:0; background-color: #f8f8f8; }

main div.row {margin-right:0; margin-left:0}
/* 
 * header
 */
header{background-color:#f8f8f8; font-weight:300; margin: auto; width: 100%;}

/*
 *  content
 */ 

#tr-content{box-shadow: 2px 2px 5px #ddd; background-color:#fff; border-radius:4px; padding:15px; font-family: Georgia, Times, serif}

/* a bit affix magic */
#tr-report.affix, #tr-minitoc-wrapper.affix {margin-top:-95px;
-webkit-transition: background 1.0s ease-in-out,margin 1.0s ease-in-out;
-moz-transition: background 1.0s ease-in-out,margin 1.0s ease-in-out;
transition: background 1.0s ease-in-out,margin 1.0s ease-in-out;}
#tr-minitoc-wrapper.affix{position:relative}

.navbar-toggle .icon-bar {background-color:#ccc}
#tr-logo{padding:0 2em 0 0;margin:0}

/* 
 * minitoc
 */ 
.BC_minitoc{margin-left:1%}
.BC_minitoc-item {padding-left:1em; font-size:0.9em; border-left: 2px solid #777; }
.BC_minitoc-item a{padding:0 !important; color: #777}
.BC_minitoc-level-h2{padding-left:1.5em; }
/* scroll-spy hover */
#tr-minitoc .active a{color:#e53935 !important; }
#tr-minitoc .active {border-left: 2px solid #fff !important}
/* 
 * report
 */
#tr-report {font-size:0.9em; color:#777}
#BC_family-label{font-size:1em; }
.BC_severity button {margin-right:5px}
.BC_family-summary{ margin-bottom:0; }
#tr-report .well {margin-bottom:0}
#tr-report .checkbox {margin-top:5px; margin-bottom:5px}
#tr-report .BC_no-messages{ background-color:#c5e1a5; color:#33691e; font-weight:bold}
/* report message */
.BC_message, .BC_tooltip{font-family: 'Segoe UI', 'Calibri', Helvetica, Arial, sans-serif; font-size:0.9em}
.BC_step-name{font-weight:normal; margin-top:0.6em}
.BC_error_count{font-size:0.9em}
/*
#tr-minitoc{background-color:blue}
#tr-content{background-color:red}
#tr-report{background-color:green}
*/


@media (min-width: 1200px){
  #tr-minitoc, #tr-report{position:fixed;}  
}

@media (max-width: 1200px){
  #tr-report.affix{ left:58.33333333% !important; /* fix wrong placement after affix */}
}


